

<section>

<!-- Tarjetas informativas  -->

    <div  data-aos="fade-up" data-aos-anchor-placement="top-center" class="tarjeta ">
    
        <h3  class="pop-bold">REDUCE TIEMPOS DE ESPERA</h3>

        <p class="pop-medium">Gracias a nuestro sistema de menus con  <span style="color:rgb(105, 72, 205);" class="pop-semibold" >QR</span> ,  en tu negocio los clientes no tendrán que esperar a ser atendidos <br> Unicamente tendran que escanear el código QR de tu Menú</p>

    </div>

    <div  data-aos="fade-up" data-aos-anchor-placement="top-center" class="tarjeta ">
    
        <h3  class="pop-bold">SIN NECESIDAD DE UNA APP</h3>

        <p class="pop-medium">Que todos los clientes se descargen una App puede ser dificl, por loque hemos creado un sistema de selecion de carta donde los clientes de tu negocio no tienen que descargarse ninguna App, solo tener coneñion a internet en el movil</p>

    </div>
    

    <div  data-aos="fade-up" data-aos-anchor-placement="top-center" class="tarjeta ">
    
        <h3  class="pop-bold">Protege frente al COVID-19</h3>

        <p class="pop-medium"> Evita el contagio con tus productos, se acabaron las cartas fisicas. Además en el caso de que tengas una barra para pedir, ahorrate las aglomeraciones de gente. Gracias a nuestro menú interactivo pódras pedir el menu desde tu movil. </p>

    </div>
    
    



</section>