<section >

    <div class="configuracionSeccionTres">
        <div class="textoSeccionTres " >

            <h1 class="pop-bold">Configuración a medida</h1>
            <p class="pop-medium">No todos los restaurantes ofrecen el mismo tipo de servicio, por lo que nosotros ponemos a disposición un conjunto de herramientas para que tus clientes estén satisfechos </p>
        </div>

        <div class="imgSeccionTres" data-aos="zoom-in" 
        data-aos-duration="2000">
            <img src="/assets/ILUSTRATIONS/payment.png" alt="">
        </div>

    </div>


    <div class="imagen-seccion-tres"  data-aos="zoom-out-up" >
        <img src="/assets/ILUSTRATIONS/dinner.png" alt="La imagen no esta dispobible">
    </div>

</section>
