<div *ngIf="variable == '1'">
  <app-mis-platos></app-mis-platos>
</div>
<div *ngIf="variable == '2'">
  <app-mis-cartas></app-mis-cartas>
</div>
<div *ngIf="variable == '3'">
  <app-generar-qr></app-generar-qr>
</div>
<div *ngIf="variable == '4'">
  <app-pedidos></app-pedidos>
</div>
<div *ngIf="variable == '5'">
  <app-inicio-client></app-inicio-client>
</div>
<div *ngIf="variable == '6'">
  <app-configuracion></app-configuracion>
</div>
<div *ngIf="variable == '7'">
  <app-inicio-client></app-inicio-client>
</div>

