

    <div class="contenedorSeccionUno">

        <div  class="divImagenPequeña"data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <img src="/assets/ILUSTRATIONS/qrSmall.png" alt="Imagen no encontrada">
        </div>
       

        <div class="tituloSeccionUno">
            

            <h1 class="pop-semibold">Reinventamos la manera de pedir en los restaurantes</h1>

            <h2  class="pop-light">Gracias a nuestras cartas interactivas, aumenta las ventas y reduce los tiempos de espera</h2>

        </div>
       
        <div  class="divImagenSeccionUno" data-aos="fade-up" data-aos-duration="2400">
            <img src="/assets/ILUSTRATIONS/preview.png" alt="Imagen no encontrada">
        </div>
        
    </div>


