

h1{
    font-size: larger;
}

h2{
    font-size: smaller;
}

.contenedorSeccionUno{
    display: flex;
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    height: 300px;
}
.tituloSeccionUno{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
}

.divImagenSeccionUno{
    padding-right: 5%;
    display: flex;
    
    
}

