



@media only screen and (max-width: 700px) {

    

    h1{
        font-size: x-large;
    }
    
    h2{
        font-size: medium;
    }
    
    .contenedorSeccionUno{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        
        margin-left: 10%;

        .tituloSeccionUno{
       
            display: flex;
            flex-direction: column;
            padding-right: 12%;
            
        }
        
        .divImagenSeccionUno{
      
           
             right: 0;
            z-index: 0;
           margin-top: 5%;
           // display: flex;
            top: 15%;
           
            img {
            width: 85%;
            height: 80%;
            }
        }
    
        .divImagenPequeña{
    
            position: absolute;
            opacity: 0.3;
            top: 25%;
            left: 10%;
            z-index: -1;
    
            img {
                width: 50%;
            }
    
        }
        
    }
   
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {


    h1{
        font-size: x-large;
    }
    
    h2{
        font-size: large;
    }
    
    .contenedorSeccionUno{
       
        display: flex;
        margin-top: 30px;
        margin-right: 10%;
        margin-left: 10%;
        height: 300px;
        margin-top: 100px;
    }
    .tituloSeccionUno{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
       
    }
    
    
    .divImagenSeccionUno{
      
        position: absolute;
         right: 0;
        z-index: 0;
       // display: flex;
        top: 15%;
       
        img {
            width: 70%;
        
        }
    }

    .divImagenPequeña{

        position: absolute;
        top: 20%;
        left: 10%;
        z-index: -1;
        img {
            width: 50%;
        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {

    h1{
        font-size: xx-large;
        color: rgb(35, 35, 35);
    }
    
    h2{
        font-size: large;
        color: rgb(55, 55, 55);
    }
    
    .contenedorSeccionUno{
        display: flex;
    
        margin-right: 5%;
        margin-left: 15%;
        height: 12%;
        flex-direction: row;
        margin-top: 13%;
        padding-bottom: 20%;
    }
    .tituloSeccionUno{
        
        margin-top: -5%;
        padding-inline: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        z-index: 1;
    }
    
    .divImagenSeccionUno{
      
       
        position: absolute;
      
         z-index: 0;
        margin-top: 5%;
         // display: flex;
        width: 60%;
        text-align: right;
        margin-right: 5%;
        right: 1%;
        

    }

    .divImagenPequeña{

        position: absolute;
        opacity: 0.3;
        top: 25%;
        left: 10%;
        z-index: -1;

        img {
            width: 50%;
        }

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

    h1{
        font-size: xxx-large;
    }
    
    h2{
        font-size: large;
    }
    
    .contenedorSeccionUno{
        display: flex;
    
        margin-right: 5%;
        margin-left: 15%;
        height: 10%;
        flex-direction: row;
        margin-top: 15%;
        padding-bottom: 10%;
    }
    .tituloSeccionUno{
        
        margin-top: -5%;
        padding-inline: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        z-index: 1;
    }
    
    .divImagenSeccionUno{
      
        position: absolute;
         right: 0;
        z-index: 0;
       margin-top: 5%;
       // display: flex;
        top: 15%;
       
        img {
        width: 85%;
        height: 80%;
        }
    }

    .divImagenPequeña{

        position: absolute;
        opacity: 0.3;
        top: 25%;
        left: 10%;
        z-index: -1;

        img {
            width: 50%;
        }

    }
}
