<header>

    <div class="contenedorSeccionUno">

        <div class="tituloSeccionUno col-6">
            

            <h1 class="pop-semibold">Reinventamos la manera de pedir en los restaurantes</h1>

            <h2 class="pop-light">Gracias a nuestras cartas interactivas, aumenta las ventas y reduce los tiempos de espera</h2>

        </div>
       
        <div class="divImagenSeccionUno col-6">
            <img src="/assets/ILUSTRATIONS/undraw_Hang.svg" alt="">
        </div>
        

    </div>

</header>
