

.basic {
    padding: 6px;
    padding-inline: 20px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    margin-inline: 10px;

} 

.registrate{
    background-color: rgb(116, 108, 233);
    color: white;
}

.basic:hover{

    transition: all 0.5s ease;
    transform: scale(1.1) perspective(1px);
   
    

}

section{
    background-color: black;
    color: white ;
}

@media only screen and (max-width: 700px) {



    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 10% ;
        //padding-top: 15%;
        padding-block: 15% ;
        

        
.tituloConoceElProdcuto{
    padding-block: 10% ;

    h4 {
        padding-top: 10px;
        color: rgb(213, 213, 213);
    }
}

        .conoceElProducto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

       
    }



}


@media only screen and (min-width: 700px) {
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 20% ;
        //padding-top: 15%;
        padding-block: 8% ;
        

        
.tituloConoceElProdcuto{
    padding-block: 10% ;

    h2{
        font-size: xx-large;
    }
    h4 {
        padding-top: 10px;
        color: rgb(213, 213, 213);
        
    }
}

        .conoceElProducto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

       
    }

    
}