<section>


<div class="conoceElProducto " data-aos="fade-up"  data-aos-duration="1000">


    <div class="tituloConoceElProdcuto">
        <h2 class="pop-regular">¿Quieres conocer más acerca nuestro producto? </h2>
        <h4 class="pop-regular">Si lo tienes claro, simplenente accede desde aquí a registro y empieza el proceso de alta.</h4>
    </div>
   

    <div class="botonesEleccion" >
        <button routerLink="/products" class="pop-medium basic" id="saberMas"  type="button" mat-flat-button color="primary" >
        Saber más
        </button>

        <button routerLink="/profile"class="pop-medium basic registrate" id="registrate" type="button" mat-flat-button color="primary" >
            Registrate
        </button>
        
    </div>
</div>


</section>
