h1{
    text-align: center;
}
.tabla{
    width: 100%;
} 


.pedidoCard{
    background-color: yellow;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background-color: yellow;
}

