<div class="container pedidoCard"  *ngIf="cardInterface != undefined" >
    <h1>{{cardInterface.nombre}}</h1>
    <div>
        <table mat-table [dataSource]="cardInterface.platos" class="tabla">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let plato">{{plato.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                <td mat-cell *matCellDef="let plato">{{plato.descripcion}}</td>
            </ng-container>
            <ng-container matColumnDef="ingredientes">
                <th mat-header-cell *matHeaderCellDef>Ingredientes</th>
                <td mat-cell *matCellDef="let plato">{{plato.ingredientes}}</td>
            </ng-container>
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let plato">{{plato.precio}}€</td>
            </ng-container>
            <ng-container matColumnDef="añadir">
                <th mat-header-cell *matHeaderCellDef>Añadir</th>
                <td mat-cell *matCellDef="let plato; let i = index">
                    <div class="contador">
                        <button mat-icon-button color="primary" (click)="sumar(i)">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <p>{{this.total[i]}}</p>
                        <button mat-icon-button color="warn" (click)="restar(i)">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div>
            <button mat-flat-button (click)="postOrder()">REALIZAR PEDIDO</button>
            <p>TOTAL: {{suma}}€</p>
        </div>
    </div>

</div>
