

@media only screen and (max-width: 700px) {

    .img-display-menu{

        width: 40px;
        height: 40px;
    }

   
    nav .revealed{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 75px;
        

    }
     
    .display-menu{
        display: flex;
        flex-direction: row;
        padding-top: 35px;
        padding-right: 35px;
        justify-content: flex-end;
        
    }
    
    .pageLinks{
    
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .link-selected{
            a {
                color: rgb(68, 68, 68);
            }
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size:large
                
            }
        }
    }
    
    .navigationPageLinks{
        display: flex;
        flex-direction: column;
    }

   
    .btn-inApp{
    
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 4px;

        background:rgb(95, 95, 95);
        border-radius: 4px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        //box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 20px 0px;
   
       
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
                align-items: center;
    
            a{
                text-decoration-line: none;
                color: rgb(255, 255, 255);
                font-size: large;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        
        
        
    }
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {

    .display-menu{
        display: none;
    }
    
    
    
    nav .revealed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 4%;
        margin-left: 4%;

    }
     

    
    .pageLinks{
    
        margin: 15px;

        .link-selected{
            a {
                
                font-family: PoppinsSemiBold ;
                color: rgb(36, 36, 36);
            }
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size: x-small;
                
            }
        }
    }
    
    .navigationPageLinks{
        display: flex;
        
        
    }

   
    .btn-inApp{
    
        margin: 20px;
        border-radius: 4px;
        
        background:rgb(95, 95, 95);
        //background: linear-gradient(54deg, rgba(160,150,227,1) 0%, rgba(166,161,194,1) 100%);

        box-shadow: rgba(75, 75, 75, 0.2) 0px 7px 20px 0px;
       
        padding: 12px;
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
                align-items: center;
    
            a{
                text-decoration-line: none;
                color: rgb(255, 255, 255);
                font-size: x-small;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: row;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
    
    
    nav .revealed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 55px;
        margin-right: 15%;
        margin-left: 15%;

        
    }
     

    
    .pageLinks{
    
        margin: 20px;

        .link-selected{
            a {
                color: rgb(68, 68, 68);
            }
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size: small;
                
            }
        }
    }
    
    .navigationPageLinks{
        display: flex;
        
        
    }

   
    .btn-inApp{
    
        margin: 20px;
        border-radius: 4px;
        
        background:rgb(95, 95, 95);
        //background: linear-gradient(54deg, rgba(160,150,227,1) 0%, rgba(166,161,194,1) 100%);

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
       
        padding: 18px;
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
                align-items: center;
    
            a{
                text-decoration-line: none;
                color: rgb(245, 245, 245);
                font-size: small;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: row;
        
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}