

@media only screen and (max-width: 700px) {



    

    .showed-in-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .title-mobile{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        align-items: center;
        margin-left: 10%;
    }

    .img-display-menu{

        width: 40px;
        height: 40px;
    }

   
   
     
    .display-menu{
        display: flex;
        flex-direction: row;
        padding-top: 35px;
        padding-right: 35px;
        justify-content: flex-end;
        align-items: center;

        img{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        
    }

    .hide-menu{
        
    
       visibility: visible;
        display: flex;
        
        align-items: center;
        justify-content: center;
        padding-top: 35px;
        justify-content: center;
        background-color: rgb(31, 31, 31);
        transform: translateY();
        transition: transform 2s ease-in;
        

        display: flex;
        flex-direction: column;
        align-items:revert;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 60px;
        padding-top:30px;
        padding-right: 20%;
        
    }
    
    
    .pageLinks{
    
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
        margin-bottom: 15px;

        

        .link-selected{
            a {
                color: rgb(255, 255, 255);
                font-size: x-large;
                
            }
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size:large
                
            }
        }
    }
    

    

    
    .navigationPageLinks{
        display: flex;
        flex-direction: column;
    }

   
    .btn-inApp{
    
      
        //box-shadow: rgba(100, 100, 111, 0.2) 0px 15px 20px 0px;
   
       
        li{
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 15px;
    
            a{
                text-decoration-line: none;
                color: rgb(147, 147, 147);
                font-size: large;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: column;
       
        
        
        
    }
}

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {

    .display-menu{
        display: none;

    }

    .hide-menu{
        
        display: none;

    }

    .title-mobile{
        display: none;
    }
    .pageLinks:hover {
        
        border-radius: 4px;
        a:hover {
            color: rgb(189, 189, 189);
            
        }
    }
    
    
    
    nav .revealed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 4%;
        margin-left: 4%;

    }
     

    
    .pageLinks{
    
        margin: 15px;

        .link-selected{
            a {
                font-family: PoppinsSemiBold ;
                color: rgb(36, 36, 36);
            }
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size: x-small;
                
            }
        }
    }
    
    .navigationPageLinks{
        display: flex;
        
        
    }

   
    .btn-inApp{
    
        margin: 20px;
        border-radius: 4px;
        
        background:rgb(95, 95, 95);
        //background: linear-gradient(54deg, rgba(160,150,227,1) 0%, rgba(166,161,194,1) 100%);

        box-shadow: rgba(75, 75, 75, 0.2) 0px 7px 20px 0px;
       
        padding: 12px;
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
                align-items: center;
    
            a{
                text-decoration-line: none;
                color: rgb(255, 255, 255);
                font-size: x-small;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: row;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {

  
    
    
    nav .revealed{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-right: 15%;
        margin-left: 15%;
        
    }
     

    
    .pageLinks{
    
        margin: 20px;

        .link-selected{
            a {
                color: rgb(68, 68, 68);
            }
            
        }
    
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: rgb(141, 141, 141);
                font-size: small;
                
            }
        }
    }
    
    .navigationPageLinks{
        display: flex;
        
        
    }

   
    .btn-inApp{
    
        margin: 20px;
        border-radius: 0px;
        
        background:rgb(43, 43, 43);
        //background: linear-gradient(54deg, rgba(160,150,227,1) 0%, rgba(166,161,194,1) 100%);

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
       
        padding: 15px;
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
                align-items: center;
    
            a{
                text-decoration-line: none;
                color: rgb(245, 245, 245);
                font-size: x-small;
                
            }
        }
        
    }

    .inApp{
        display: flex;
        flex-direction: row;
        
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}