<nav data-aos="zoom-in-down"  data-aos-duration="1400">


    <div class="showed-in-mobile" >

        <div class="title-mobile  pop-medium "> 
            <h3>QuickFood</h3>
        </div>
        <div class="display-menu" > 
            <img class="img-display-menu" src="{{imgSrc}}" alt="image not found"(click)="showOrHideMenu()" >
        </div>

    </div>
 
    
    <div *ngIf="showMe"  class="revealed hide-menu" data-aos="fade-in">
    <div class="navigationPageLinks pop-medium"> 

       
        <div class="pageLinks ">
            <li class="link-selected"><a href="">Inicio</a></li>
        </div>
        
        <div class="pageLinks">
            <li><a  routerLink="/products" href="">Producto</a></li>
        </div>
        
        <div class="pageLinks">
            <li><a  routerLink="/us" href="">Contacto</a></li>
        </div>

    </div>

    <div></div>

    <div class="pop-semibold inApp">

      
        <div class="btn-inApp" > 
            <li ><a routerLink="/login">Iniciar Sesion</a></li>
        </div>
        <div class="btn-inApp"> 
            <li><a routerLink="/register">Regístrate</a></li>
        </div>
    </div>
 
</div>
</nav>
