<nav >

    <div>

    </div>

    <div class="navigationPageLinks pop-medium"> 

        <div class="display-menu"> 
            
            <img src="menu-claro.png" alt="">
        </div>
        
        <div class="pageLinks ">
            <li class="link-selected"><a href="">Inicio</a></li>
        </div>
        
        <div class="pageLinks">
            <li><a href="">Tarifas</a></li>
        </div>
        
        <div class="pageLinks">
            <li><a href="">Conocenos</a></li>
        </div>

        <div class="pageLinks">
            <li><a href="">Redes Sociales</a></li>
        </div>
    </div>

    <div></div>

    <div class="pop-semibold inApp">
        <div class="btn-inApp"> 
            <li><a href="">Inicia Sesión</a></li>
        </div>
        <div class="btn-inApp"> 
            <li><a href="">Regístrate</a></li>
        </div>
    </div>
 

</nav>
