.misCartasMenusPrincipalDiv{


    ::ng-deep .mat-form-field-underline {
        display: none;
           
       }
    
    .mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
    background-color: rgb(243, 243, 243);
    }


    display: flex;
    flex-direction: row;
    width: 100%;
}




th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

.tituloMenuCarta{
    margin-bottom: 15px;
}

mat-table{
    border-radius: 5px;
}
.espaciosTabla{
    margin-left: 20px;
    margin-right: 20px;
}

.resumenMenusCartas{
    width: 600px;
        margin: 2%;
       
        border-radius: 5px;

        mat-car{
            padding: 10%;
        }

        .nombresCampos{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            padding: 10px;
            h3{
                margin: 5px;
            }

            .visibleStyle{
                margin-left: 10px;
            }
        }



        .cartaAñadida{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            padding: 10px;
            
            h3{
                margin: 5px;
            }

            mat-checkbox{
                margin-left: 20px;
                margin-right: 20px;
            }
        }
}

.creacionCarta{
    margin: 2%;
    width: 500px;


    mat-card{
        padding: 10%;
    }

    form{
        margin-top: 25px;
    }

    mat-form-field{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        margin-bottom: 10px;
        padding-right: 30%;
        padding-left: 5%;
        padding-bottom: 5px;

        
    }
      
    

    .crearCartaMenu{
        margin: 10px;
    }

    .botones{
        margin-top: 25px;
        margin-bottom: 25px;
        

        button{
            margin-right: 4%;
            
        }
    }
}