<div data-aos="fade-right" fxLayoutAlign="center center" fxFlexFill>
    <mat-card  fxFlex="30"> 
        <h1 class="pop-semibold">¡Bienvenido!</h1>
        <h4 class="pop-semibold">Rellena los datos y comienza a optimizar tu negocio</h4>
        <form fxLayoutAlign="stretch" fxLayout="column" >
            <mat-form-field >
              <input type="email"  matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field >
                <input type="password" matInput placeholder="Contraseña">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="pop-semibold">Iniciar Sesion</button>
          </form>
    </mat-card>
</div>