<div class="imgSeccionCinco">

    <div class="tituloImg">
        <h1 class="pop-bold">Se acabaron los tickets en la cocina</h1>
    </div>
    <img src="/assets/IMAGES/close-up-chef-cooking-restaurant-kitchen.jpg" alt="">
</div>



<section>



    <div class="procesoDeCreacion">

        <h1 class="pop-bold">Facil y sencillo</h1>
        <h4 class="pop-semibold">Pedir desde un movil nunca fue tan facil</h4>

        <mat-vertical-stepper class="mat-vertical-stepper">

            <mat-step>
              <ng-template matStepLabel><h1 class="pop-semibold" >Paso 1</h1></ng-template>
              <ng-template matStepContent>
                <p class="pop-regular">Registrate </p>
              </ng-template>
            </mat-step>


            <mat-step>
              <ng-template class="pop-semibold" matStepLabel><h1 class="pop-semibold" >Paso 2</h1></ng-template>
              <ng-template matStepContent>
            <p class="pop-regular">Añade un menu y sus platos desde nuestra plataforma </p>
              </ng-template>
            </mat-step>


            <mat-step>
                <ng-template class="pop-semibold" matStepLabel><h1 class="pop-semibold" >Paso 3</h1></ng-template>
                <ng-template matStepContent>
                    <p class="pop-regular">Descarga el código QR que genera tu menu y asocialo a una mesa</p>
                </ng-template>
              </mat-step>

              <mat-step>
                <ng-template class="pop-semibold" matStepLabel><h1 class="pop-semibold" >Paso 4</h1></ng-template>
                <ng-template matStepContent>
                    <p class="pop-regular">Pega o añade tu código a una mesa </p>
  
                </ng-template>
              </mat-step>

              <mat-step>
                <ng-template class="pop-semibold" matStepLabel><h1 class="pop-semibold" >Paso 5</h1></ng-template>
                <ng-template matStepContent>
                    <p class="pop-regular">Listo!! A partir de ahora tus clientes pueden pedir escaneando el código QR </p>

  
                </ng-template>
              </mat-step>
          </mat-vertical-stepper>



      




        

    </div>
</section>
