
 <div class="explicacionPedidosEntrantes">
    <div class="divIntro"><p>
        Desde aqui podrás ver los pedidos que hace cada cliente en tiempo real, una vez finalizado, descartarás el pedido
    </p></div>
</div>

<div class="pedidos">
    <mat-card *ngFor="let item of pedidos; let i = index;">
        <mat-card-title>
            NUMERO DE MESA {{item.tableNumber}}
        </mat-card-title>
        <mat-card-content>
            PLATOS {{item.platos}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onDelete(i)">X</button>
        </mat-card-actions>
    </mat-card>
</div>