.explicacionPedidosEntrantes{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;

    .divIntro{
        padding: 15px;
        border-radius: 5px;
        border: 1px solid rgb(201, 201, 201);
        border-style: dashed;
    }
}

.pedidos{
    display: flex;
    flex-direction: column;

}
mat-card-content{
    width: 100%;
}
mat-card{
    margin: 10px;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    button{
        width: 100%;
    }
}





