<section>



 <div class="explicacionPedidosEntrantes">
    <div class="divIntro"><p>
        Desde aqui podrás ver los pedidos que hace cada cliente en tiempo real, una vez finalizado, descartarás el pedido
    </p></div>
    <button mat-icon-button (click)="startUpdate()"><mat-icon>play_circle</mat-icon> PULSA AQUI PARA EMPEZAR ACTUALIZAR LOS PEDIDOS</button>
</div>

<div class="pedidos">
    <mat-card *ngFor="let item of pedidos; let i = index;">
        <mat-card-title>
            <h4>Numero de mesa {{item.tableNumber}}</h4>
            
        </mat-card-title>
        <mat-card-content>
            <h4>Platos :</h4>
            <h5>{{item.platos}}</h5>
            
            
        </mat-card-content>
        <mat-card-actions>
            <button  mat-flat-button color="warn" (click)="onDelete(i)">finalizado</button>
        </mat-card-actions>
    </mat-card>
</div>

</section>