
<app-navegacion></app-navegacion>


<section>
    
    
   
    <div class="introduccionProducto">

            <div class="textoProducto pop-regular">

              
                <h1 class="pop-semibold">Descubre nuestro producto</h1>
               
            

                <p>En QuickFood hemos dado con la formula para que tus clientes esten siempre atendidos.<br> Gracias a nuestro sistema de gestion de pedidos,Generacion de cartas y control de mesas podras dar una experiencia<br> rapida y eficiente a tus clientes, reduciendo costes e invirtiendo en lo que mas falta hace, la comida! </p>
            </div>
            <div class="divImgProducto">
                <img class="imgQrproducto" src="/assets/IMAGES/mockup.jpg" alt="">
            </div>
    </div>



</section>

<app-seccion-cuatro></app-seccion-cuatro>
<app-seccion-siete></app-seccion-siete>
<app-seccion-cinco></app-seccion-cinco>
<app-footer></app-footer>

