<footer>

    <h1 class="tituloNombre">QuickFood</h1>

    <div class="todoFooter">
        <div class="todoFooterGrupo enlaces">
            <h2>Enlaces </h2>
            <h4></h4>
        </div>
    
        <div class=" todoFooterGrupo contactos">
            <h2>Contacta con nosotros</h2>
            <h4>Tel : +34 91 000 00 00</h4>
            <h4>Mail : quickFood@quickFood.com</h4>
    
        </div>
    
    
        <div class=" todoFooterGrupo legal">
            <h3>Avisos Legales</h3>
            <a href="">Terminos</a>
            <a href="">Privacidad</a> 
    
        </div>
    </div>

 

    <div class="redesSociales">
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/fcboook.svg"alt=""></a>
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/instagram.svg"alt=""></a>
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/twitter.svg"alt=""></a>
       
       
    </div>
</footer>
