<footer>

    <h1 class="tituloNombre ">QuickFood</h1>

    <div class="todoFooter">
        <div class="todoFooterGrupo enlaces">
            <h2 >Enlaces </h2>
            <h4  routerLink="/products" class="footerLinks pop-regular">Conoce más acerca del producto</h4>
            <h4  class="footerLinks pop-regular">Contacto</h4>
        </div>
    
        <div class=" todoFooterGrupo contactos">
            <h2>Contacta con nosotros</h2>
            <h4  class="footerLinks pop-regular">Tel : +34 91 000 00 00</h4>
            <h4  class="footerLinks pop-regular">Mail : quickFood@quickFood.com</h4>
    
        </div>
    
    
        <div class=" todoFooterGrupo legal">
            <h3>Avisos Legales</h3>
            <div class="enlacesLegal">
                <a  class="footerLinksDirect pop-regular" href=""><h4>Terminos</h4></a>
                <a  class="footerLinksDirect pop-regular" href=""><h4>Privacidad</h4></a> 

            </div>
          
    
        </div>
    </div>

 

    <div class="redesSociales">
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/fcboook.svg"alt=""></a>
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/instagram.svg"alt=""></a>
        <a  href=""><img  class="rsIcon" src="/assets/ICONS/twitter.svg"alt=""></a>
       
       
    </div>
</footer>
