h1{
    text-align: center;
}

.botones button{
    margin: 1%;
}

p{
    margin-top: 1%;
}

.crearPlato mat-form-field{
    width: 80%;
    height: 2%;
    margin-left: 2%;
}
mat-card{
    margin-bottom: 4%;
    width: 40%;
}