section{
    height: 100%;
}

.precioDecimal{
    margin: 5px;
}


@media only screen and (min-width: 700px) {

    .mat-drawer-content {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
        /* overflow: auto; */
    }

    .explicacionMisPlatos{
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;

        .divIntro{
            padding: 15px;
            border-radius: 5px;
            border: 1px solid rgb(201, 201, 201);
            border-style: dashed;
        }
    }

    .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
        margin-top: 30px;
        width: 100%;
        border-radius: 5px;
    }


    .mat-header-cell {
         color: rgba(255, 255, 255); 
    }

    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        padding: 10px;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom-width: 0px;
        border-bottom-style: solid;
    }
    tr.mat-header-row {
        height: 65px;
        width: 100%;
        background-color: rgb(166, 98, 230);
        border-radius: 6px;
    }

     .mat-tab-body-content {
        width: 100%;
        height: 100%;
        overflow: hidden!important;    }
    .mat-tab{
        width: 100%;
    }
    
     .misPlatosPrincipalDiv{
        
        width: 100%;

        mat-card{
            padding: 5%;
        }

        ::ng-deep .mat-form-field-underline {
         display: none;
            
        }
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    
    
        .mat-card:not([class*=mat-elevation-z]) {
            box-shadow:none;
            background-color: rgb(243, 243, 243);
        }
    
        .MisPlatos{
            
            margin: 2%;
           
            border-radius: 5px;
    
            mat-car{
                padding: 10%;
            }
        }
    
        .CreacionPlato{
            margin: 2%;
            width: 100%;
    
    
            ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
                padding-bottom: 0.25em;
            }
    
            mat-form-field{
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                margin-bottom: 10px;
                padding-right: 30%;
                padding-left: 5%;
                padding-bottom: 5px;
            }
    
            .botonCrearPlato{
    
                margin: 10px;
            }
    
            .botones{
                margin-top: 25px;
                margin-bottom: 25px;
                
    
                button{
                    margin-right: 4%;
                    
                }
            }
    
            
    
            form{
                margin-top: 25px;
            }
        }
    }



}

@media only screen and (min-width: 1200px) {

    section{
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .mat-drawer-content {
        position: relative;
        z-index: 1;
        display: block;
        height: 100%;
         overflow-y :hidden;
    }

    .mat-tab-group {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        overflow: hidden;
    }

    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        padding: 20px;
        margin-left: 30px;
        margin-right: 10%;
        border-bottom-width: 0px;
        border-bottom-style: solid;
    }
    
     .misPlatosPrincipalDiv{

        .mat-tab-body-content {
            width: 100%;
            height: 100%;
            overflow: hidden!important;        
        }
        .mat-tab{
            width: 100%;
        }
    
    
        display: flex;
        flex-direction: row;
       
    
    
        .mat-card:not([class*=mat-elevation-z]) {
            box-shadow:none;
            //background-color: rgb(243, 243, 243);
        }
    
        .MisPlatos{
            width: 100%;
            margin: 2%;
           
            border-radius: 5px;
    
            mat-car{
                padding: 5%;
            }
        }
    
        .CreacionPlato{
            margin: 2%;
            width: 100%;
            
            ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
                padding-bottom: 2px;
            }
    
            mat-form-field{
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                margin-bottom: 10px;
                margin-right: 10px;
                padding-right: 10%;
                padding-left: 5%;
                padding-bottom: 5px;
            }
    
            .botonCrearPlato{
                display: flex;
                justify-content: flex-end;
            }
    
            .botones{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
                margin-bottom: 25px;
                align-items: center;
                justify-content: center;
                button{
                    margin-right: 4%;
                    
                }
            }
    
            
    
            form{
                margin-top: 10px;
         

               .contenedorCampos{

                display: flex;
                flex-direction: row;
                
                .camposPrincipales{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }

                .ingredientesDiv{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }
               }

               
            }
        }
    }

}




