
<section>
    <div class="explicacionMisPlatos">
        <div class="divIntro"><p>
            Bienvenido a Mis Platos, Aqui podras crear y eliminar toda clase de platos, donde podras añadir un nombre, ingredientes y una descripcion. 
        </p></div>
    </div>
    
    
    
    <div class="misPlatosPrincipalDiv">
        <!-- <h3>Crea y configura aqui los platos de tu establecimiento</h3> -->
    
        
        <mat-tab-group  mat-align-tabs="start">
            <mat-tab label=" Mis Platos"> 
                <div class="MisPlatos">
           
                    <mat-card class="">
                        <h3 class="tituloMenuCarta">Platos disponibles</h3>
                        
                        <table class="mat-table-class" mat-table [dataSource]="dataSourcePlatos" >
            
            
                           
                            <ng-container matColumnDef="nombrePlato">
                                <th  class="pop-bold espaciosTabla" mat-header-cell *matHeaderCellDef> Nombre del Menu </th>
                                <td mat-cell *matCellDef="let element"><h4 class="pop-regular"> {{element.nombre}}</h4> </td>
                              </ng-container>
            
                              
                            <ng-container matColumnDef="numeroDeIngredientes">
                                <th  class="pop-bold espaciosTabla" mat-header-cell *matHeaderCellDef> Ingredientes </th>
                                <td mat-cell *matCellDef="let element"> {{element.ingredientes}} </td>
                              </ng-container>
                         
                              <ng-container matColumnDef="precio">
                                <th class="pop-bold espaciosTabla" mat-header-cell *matHeaderCellDef> Precio </th>
                                <td mat-cell *matCellDef="let element">{{element.precio}}€ </td>
                              </ng-container>
            
                              
                             
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPlatos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPlatos;"></tr>
                        </table>
                    </mat-card>
                
                </div>    
            </mat-tab>
    
    
            <mat-tab label="Crea tus platos"> 
                <div class="CreacionPlato">
                    <mat-card class="">
                        <h3>Crea tu plato aqui</h3>
                        <form  class="crearPlato" #formDish="ngForm">
            
                             <div class="contenedorCampos">
                                <div class="camposPrincipales">
                                    <mat-form-field>
                                        <mat-label class="pop-semibold">Nombre</mat-label>
                                        <input type="text" name="nombre" [(ngModel)]="dish.nombre" matInput placeholder="Escribe el nombre" required>
                                    </mat-form-field>
                                
                                
                                    <mat-form-field>
                                        <mat-label class="pop-semibold">Descripcion</mat-label>
                                        <textarea type="text" name="descripcion" [(ngModel)]="dish.descripcion" matInput placeholder="Escribe la descripcion" required></textarea>
                                    </mat-form-field>
    
                                </div>
                                  
                                <div class="ingredientesDiv">
                                    <mat-form-field *ngFor="let control of formArray.controls; index as i">
                                        <mat-label class="pop-semibold">Ingrediente</mat-label>
                                        <input matInput type="text"  [(ngModel)]="dish.ingredientes[i]" [formGroup]="getFormGroup(i)" [ngModelOptions]="{standalone: true}" placeholder="Ingrediente" required/>
                                    </mat-form-field>

                                    
                                <div class="botones">
                                    <button (click)="onAdd()" type="add" mat-flat-button color="primary">Añadir ingrediente</button>
                                    <button (click)="onDelete()" type="delete" mat-flat-button color="warn">Eliminar Ingrediente</button>
                                </div>
                                
                                    <mat-form-field>
                                        <mat-label class="pop-semibold">Precio (Separar con punto)</mat-label>
                                        <input matInput type="number"  name="precio" [(ngModel)]="dish.precio" class="example-right-align" placeholder="0" required>
                                        <span matSuffix>€&nbsp;</span>
                                    </mat-form-field>

                                </div>
                             
                             </div>   
                            
                           <div class="botonCrearPlato">
                            <button  mat-raised-button color="primary" type="submit" class="pop-semibold botonCrearPlato"
                            [disabled]="!formDish.valid"  (click)="addDish()">Crear Plato</button>
                           </div>
                           
                        </form>
                    </mat-card>
                    
                </div>
            </mat-tab>
            
          </mat-tab-group>
    
    
        
    
    
        
        
    </div>
</section>