*{
    text-align: center;
    margin: 1%;
}
.qr-container{
    margin: 4%;
    width: 100%;
    align-items: center;
}
.textArea{
    text-align: center;
}
.numeroMesa{
    width: auto;
    height: auto;
}