<section>

    <div class="bienvenido">
        <mat-card class="divIntro"><p>
            <h2>Bienvenido QuickFood. </h2><p>Vamos a hacerte una breve introducción a nuestra app, para que sepas donde se encuentra todo
        </p></mat-card>
    </div>
    <div class="explicacionMisPlatos">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Mis Platos</mat-card-title>
                <mat-card-subtitle>Crea los platos de tu establecimiento de manera sencilla</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/Notebook_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              En esta sección usted podrá crear facilmente con sus respectivas caracteristicas los platos de su establecimiento
              que posteriormente serán pedidos por sus clientes.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Mis Cartas</mat-card-title>
                <mat-card-subtitle>Agrupe los platos para crear cartas o menús</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/Books_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              Con los platos previamente creados, usted podrá crear cartas o menús de manera sencilla y rapida
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Generar QR</mat-card-title>
                <mat-card-subtitle>Cree un qr personalizado en un par de clicks</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/QR code_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              Genere un codigo qr con la información necesaria para que los clientes puedan pedir los platos de su establecimiento directamente desde la mesa.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>

    </div>
    <div class="explicacionMisPlatos">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Pedidos</mat-card-title>
                <mat-card-subtitle>Visualice claramente los pedidos realizados por los clientes</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/Money_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              Podrá controlar a tiempo real las comandas realizadas por los clientes de su establecimiento para no perder ni un segundo de su tiempo.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Estadisticas</mat-card-title>
                <mat-card-subtitle>Visualice las estadisticas de su establecimiento</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/Dashboard_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              Tendrá acceso a unas estadisticas diseñadas a medida para mejorar su negocio y cubrir las necesidades de sus clientes.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Configuración</mat-card-title>
                <mat-card-subtitle>Cambie los ajustes predeterminados de su aplicación</mat-card-subtitle>
              </mat-card-header>
        <img src="/assets/ILUSTRATIONS/Tools_perspective_matte_s.png" alt="">
        <mat-card-content>
            <p>
              Edite facilmente la información de su negocio o cambie su aplicación visualmente para hacerla mas agradable.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>ACCEDER</button>
          </mat-card-actions>
        </mat-card>
    </div>
    



</section>