<section>

    <div class="bienvenido">
        <div class="divIntro"><p>
            <h2>Bienvenido QuickFood. </h2><p>Vamos a hacerte una breve introducción a nuestra app, para que sepas donde se encuentra todo
        </p></div>
    </div>
    <div class="explicacionMisPlatos">
        <div class="divIntro"><p>
             A la izquierda podrás encontrar la navegacion, que te permitirá acceder a toas las funcionalidades de nuestra app.
            Esta dividida en: 
        </p></div>
        <div class="explicacionMisPlatos" style="margin-left: 30px;">
            <div class="divIntro"><p>
               - MIS PLATOS : Donde podrás crear toda serie de platos. Cada plato tendrá un nombre, u¡ingredientes y un precio.  
            </p></div>
        </div>
        <div class="explicacionMisPlatos" style="margin-left: 30px;">
            <div class="divIntro"><p>
               - MIS CARTAS : Donde podrás crear toda serie de cartas.Además tendras la opcion de crearlo un menu. Pero eso si, piensa que solo podrá estar activada un menu y una carta que es la que verán tus clientes cuando escaneen el código QR.  
            </p></div>
        </div>
        <div class="explicacionMisPlatos" style="margin-left: 30px;">
            <div class="divIntro"><p>
               - PEDIDOS : Esta sera la pantalla de la que dispondrá tu cocina, aqui llegan los pedidos entrantes. Una vez que se haya terminado de cocinar el pedido podras eliminarlo de la pantalla de pedidos  
            </p></div>
        </div>

    </div>
    
    <div class="explicacionMisPlatos">
        <div class="divIntro"><p>
            Por último, podras cambiar tu perfil en configuracion 
        </p></div>
    </div>


</section>