section{
    margin-bottom: 10%;
}
.bienvenido{
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(189, 102, 255);
    border-radius: 5px;

    .divIntro{
        h2{
            color: rgb(43, 43, 43);
            padding: 8px;
            padding-left: 0px;
        }
        p{
            color: rgb(0, 0, 0);
        }
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(231, 231, 231);
        border-style: dashed;
    }
}
.explicacionMisPlatos{
    display: flex;
}

.card{
    margin-right: 1%;
    width: 32%;
    margin-bottom: 2%;
}
img{
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}