
mat-sidenav-container{
  height: 100%;
}

mat-sidenav-content{
  padding: 2%;
}

.boton-menu{
  position:sticky;
  padding-left: 5%;
}


mat-sidenav-container{
  display: flex;

}
mat-sidenav{
  padding: 15px;
  width: 250px;
  justify-content: center;

  .mat-divider {

    border-top-style: none;
  }

  mat-list-option{
    border-radius: 5px;
    margin-top: 4px;
  }


  .mat-drawer-side {
    border-right: none; 
  }

}