

<nav>
    <button class="botonMenu" (click)="sidenav.toggle()"  aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="titulo pop-regular"> <h3 class="pop-regular">Bienvenido {{username}}</h3></div>
    <div class="cerrarSesion" (click)="logOut()" > <h3 class="pop-regular"> Cerrar sesion</h3></div>
</nav>

<mat-sidenav-container>
    
    <mat-sidenav #sidenav mode="side" [(opened)] = "opened" >
        <mat-selection-list #options [multiple]="false">
            


            <mat-list-option class="pop-regular" [value]="2" (click)="chooseOption(options)">
                Mis platos
                <mat-icon matListIcon>restaurant</mat-icon>
            </mat-list-option>
            <mat-divider></mat-divider>

            <mat-list-option class="pop-regular" [value]="1" (click)="chooseOption(options)">
                Mis cartas
                <mat-icon matListIcon>menu_book</mat-icon>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="pop-regular" [value]="3" (click)="chooseOption(options)">
                Pedidos
                <mat-icon matListIcon>receipt_long</mat-icon>
            </mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option class="pop-regular" [value]="4" (click)="chooseOption(options)">
                Configuracion
                <mat-icon matListIcon>settings</mat-icon>
            </mat-list-option>


          </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>

        
        <app-body [variable]="this.option">

        </app-body>

    </mat-sidenav-content>
</mat-sidenav-container>