

<section>

    <div class="conjuntoImagenes">
        <div class="divImgProducto"  data-aos="fade-up" data-aos-duration="3500">
            <img class="imgRestaurante" src="/assets/ICONS/cutlery.png" alt="">
        </div>
       
        <div class="divTextoProducto"  data-aos="fade-in" data-aos-duration="1500">
            <h1 class="pop-semibold">Configura platos, menus y cartas</h1>
            <p class="pop-regular">Con nuestra app, podrás crear todo tipo de platos, bebidas o postres. Ademas de eso, podras agrupar los platos por cartas o menús </p>
        </div>

    </div>

    <div class="conjuntoImagenes">

        <div class="divTextoProducto"  data-aos="fade-in" data-aos-duration="1500">
            <h1 class="pop-semibold">¿Porque codigos QR ?</h1>
            <p class="pop-regular">El 2020 nos enseño que las tecnologías estan aqui para quedarse y gracias a eso, nace QuickFood . Los codigos QR se han vuelto familiares a la hora de pedir en un restaurante y con QuickFood podras sacarle partido</p>
        </div>
        <div class="divImgProducto"  data-aos="fade-up" data-aos-duration="3500">
            <img class="imgRestaurante"  src="/assets/ICONS/dot.png" alt="">
        </div>
       
    </div>


    <div class="conjuntoImagenes">
        <div class="divImgProducto"  data-aos="fade-up" data-aos-duration="3500">
            <img class="imgRestaurante" src="/assets/ICONS/smartphone.png" alt="">
        </div>
       
        <div class="divTextoProducto"  data-aos="fade-in" data-aos-duration="1500">
            <h1 class="pop-semibold">Sin descargas de apps</h1>
            <p class="pop-regular">Hemos analizado el mercado y visto que cuando se trata de una multinacional es factible que todos los clientes puedan tener la app, pero para los grandes, medianos y pequeños negocios dificulta la digitalizacion, con QuickFood no hace falta mas que un navegador web para poder pedir los productos. </p>
        </div>

    </div>



    <div class="conjuntoImagenes">

        <div class="divTextoProducto" data-aos="fade-in" data-aos-duration="1500">
            <h1 class="pop-semibold"> ¿Porque codigos QR ?</h1> 
            <p class="pop-regular">El 2020 nos enseño que las tecnologías estan aqui para quedarse y gracias a eso, nace QuickFood . Los codigos QR se han vuelto familiares a la hora de pedir en un restaurante y con QuickFood podras sacarle partido</p>
        </div>
        <div class="divImgProducto" data-aos="fade-up" data-aos-duration="3500">
            <img class="imgRestaurante" src="/assets/ICONS/dollar.png" alt="">
        </div>
       
    </div>



</section>