<section>


    <div class="caracteristicas">

        <div class="pop-bold tituloCaracterísticas"> 
            <h1>Caracteristicas de NOMBRE</h1>
        </div>
        <div class="pop-medium">
            
            
           <p class="caracteristica">+ Genera y descarga tantos códigos QR como quieras </p>
           <p class="caracteristica">+ Añade todos los platos que tu elijas </p>
           <p class="caracteristica">+ Crea Cartas personalizadas </p>
           <p class="caracteristica">+ Permite que tus clientes pidan desde la mesa</p>
           <p class="caracteristica">+ Pantalla de pedidos en tempo real  </p>
           <p class="caracteristica">+ Gestion de productos disponibles en tiempo real </p>
           <p class="caracteristica">+ Servicio Técnico : Llamanos y te ayudaremos con cualquier duda</p>


           <h4 class="tituloCaracteristicasFuturas pop-bold"> Futuras actualizaciones</h4>


           <p class="caracteristica">+ Estadisticas de venta y graficos</p>
           <p class="caracteristica">+ Ofrece a tus clientes poder pagar desde el movil en el momento en el  que se pide el producto</p>


        </div>

    </div>

    <div>


    </div>
</section>
